---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import twitter from "../../public/icons8-twitter-48.svg";
---

<Layout title="Ese Monday - Portfolio">
	<main>
		<div class="hero-section">
			<div class="intro-section">
				<img
					src="/profile-photo.jpeg"
					alt="Picture of Ese Monday"
					class="profile-picture"
				/>
				<h1 class="intro-title">Ese Monday</h1>
				<p class="intro-subtitle">
					Ese Monday is a Frontend Engineer with extensive knowledge of open
					source, blockchain, and software products
				</p>
			</div>
			<div class="bento-cards">
				<Card
					title="Twitter"
					body="Follow me"
					href="https://twitter.com/EseMonday1"
				/>
				<Card
					title="Twitter"
					body="Follow me"
					href="https://twitter.com/EseMonday1"
				/>
				<Card
					title="Twitter"
					body="Follow me"
					href="https://twitter.com/EseMonday1"
				/>
				<Card
					title="Twitter"
					body="Follow me"
					href="https://twitter.com/EseMonday1"
				/>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		max-width: 1560px;
		font-size: 20px;
		display: flex;
		justify-content: space-between;
		line-height: 1.6;
		padding: 2rem;
		margin: auto;
	}
	.hero-section {
		display: flex;
		gap: 2rem;
	}
	.intro-section {
		display: flex;
		width: 40%;
		flex-direction: column;
		position: sticky;
		justify-content: center;
		padding: 2rem;
	}
	.intro-title {
		font-size: 4rem;
		font-weight: 600;
	}
	.intro-subtitle {
		font-size: 1.5rem;
		font-weight: 300;
	}
	.profile-picture {
		height: 150px;
		width: 150px;
		border-radius: 100%;
	}
	.bento-cards {
		display: flex;
		flex-wrap: wrap;
		width: 50%;
		gap: 2rem;
	}
	@media screen and (max-width: 800px) {
		.hero-section {
			flex-direction: column;
		}
		.intro-section {
			width: 100%;
			padding: 0;
		}
		.bento-cards {
			width: 100%;
		}
	}
</style>
