---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import twitter from "../../public/icons8-twitter-48.svg";
import github from "../../public/icons8-github.svg";
---

<Layout title="Ese Monday - Portfolio">
	<main>
		<div class="hero-section">
			<div class="intro-section">
				<img
					src="/profile-photo.jpeg"
					alt="Picture of Ese Monday"
					class="profile-picture"
				/>
				<h1 class="intro-title">Ese Monday</h1>
				<p class="intro-subtitle">
					Ese Monday is a Frontend Engineer with extensive knowledge of open
					source, blockchain, and software products
				</p>
			</div>
			<div class="bento-cards">
				<div class="bento-box">
					<Card
						title="Twitter"
						body="@esemonday1"
						href="#"
						icon="/icons8-twitter-48.svg"
					/>
				</div>
				<div class="bento-box">
					<Card
						title="Github"
						body="ESE-MONDAY"
						href="#"
						icon="/icons8-github-48.svg"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>

<style>
	main {
		padding: 1rem;
		max-width: 1560px;
		display: flex;
		justify-content: space-between;
		padding: 2rem;
		margin: auto;
	}
	.hero-section {
		display: flex;
		gap: 2rem;
	}
	.intro-section {
		width: 40%;
		padding: 2rem;
	}
	.intro-title {
		font-size: 4rem;
		font-weight: 700;
	}
	.intro-subtitle {
		font-size: 1.5rem;
		font-weight: 500;
	}
	.profile-picture {
		height: 150px;
		width: 150px;
		border-radius: 100%;
	}
	.bento-cards {
		width: 50%;
		display: grid;
		gap: 2rem;
		grid-template-columns: repeat(3, 1fr);
	}
	.bento-box {
		text-align: center;
	}
	.bento-box:nth-child(1) {
		grid-column: span 1;
		grid-row: span 1;
	}

	.bento-box:nth-child(2) {
		grid-column: span 1;
		grid-row: span 1;
	}
	.bento-box:nth-child(3) {
		grid-column: span 1;
		grid-row: span 1;
	}
	.bento-box:nth-child(4) {
		grid-column: span 1;
		grid-row: span 1;
	}
	.bento-box:nth-child(5) {
		grid-column: span 1;
		grid-row: span 2;
	}
	.bento-box:nth-child(6) {
		grid-column: span 1;
		grid-row: span 3;
	}

	@media screen and (max-width: 800px) {
		.hero-section {
			flex-direction: column;
		}
		.intro-section {
			width: 100%;
			padding: 0;
		}
		.intro-title {
			font-size: 2rem;
		}
		.intro-subtitle {
			font-size: 1rem;
		}
		.bento-cards {
			width: 100%;
		}
		.bento-box:nth-child(1) {
			grid-column: span 2;
			grid-row: span 2;
		}
		.bento-box:nth-child(2) {
			grid-column: span 2;
			grid-row: span 2;
		}
	}
</style>
